@{
    ViewData["Title"] = "Home Page";
}

<div class="flex">
    <h1 class="display-6">Lê Nguyễn Hoàng Long</h1>
    <h2 class=" display-6">ID: 2200005193 </h2>
    <h3 class=" display-6">07/12/2004 </h3>

  

   
</div>
